    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">

        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                <div class="footer-widget">
                <a href="{{site.baseurl}}/iletisim">
                <img src="{{ site.baseurl }}/assets/images/logo-footer2.png">
                </a>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget">
                <h5 class="title">Hizmetlerimiz</h5>
                <ul>
                <li><a href="{{ site.baseurl }}/digitallesme-ve-bilgi-yonetimi-danismanligi" >Dijitalleşme ve Bilgi Yönetimi Danışmanlığı</a></li>
                <li><a href="{{ site.baseurl }}/sunucu-yonetimi-ve-bakimi" >Sunucu Yönetimi ve Bakımı</a></li>
                <li><a href="{{ site.baseurl }}/kurumsal-mail-yonetimi" >Kurumsal Mail Yönetimi</a></li>
                <li><a href="{{ site.baseurl }}/yedekleme-backup-disaster-plan-yonetimi" >Yedekleme/Backup Disaster Plan yönetimi</a></li>
                <li><a href="{{ site.baseurl }}/ozel-yazilim-gelistirme" >Özel Yazılım Geliştirme</a></li>
                </ul>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget">
                <h5 class="title">Ürünlerimiz</h5>
                <ul>
                <li><a href="{{ site.baseurl }}/depo-otomasyonu">Softech Depo Otomasyonu</a></li>
                <li><a href="{{ site.baseurl }}/finans-tahsilat-takibi">Softech Finans Tahsilat Takibi</a></li>
                <li><a href="{{ site.baseurl }}/fabrika-otomasyonu">Softech Fabrika Otomasyonu</a></li>
                <li><a href="{{ site.baseurl }}/restoran-otomasyonu">Softech Restoran Otomasyonu</a></li>
                </ul>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget textwidget">
                    <h5 class="title">Hakkımızda</h5>
                    <p>Firmamız 1998 Yılında kurulmuştur. Global dünyada artan rekabetle beraber kendilerini yenilemek ve dijitalleşmek zorunda bulan müşterilerimize dijitalleşme ve otomasyon çözümleri üretiyoruz. Sürekli kendimizi yenileyerek müşterilerimize kaliteli hizmet verme anlayışını benimsemiş olup bilgi birikimimizle sektörde öncü olmayı hedeflemekteyiz.
                    <br>Mehmet KAÇAR.<br><br>
                    Sizde hizmet almak istiyorsanız bizimle <a href="{{site.baseurl}}/iletisim">iletişime geçin</a>.</p>                    
                </div>
                </div>
            </div>

            <div class="copyright">
                <p class="pull-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }}.
                </p>
                <p class="pull-right">
                <!-- Please, leave credit to author unless you own a commercial license: https://www.wowthemes.net/freebies-license/ --> 
                <!-- Tema & Tasarım: <a target="_blank" href="https://www.wowthemes.net/free-jekyll-template-affiliates/">"Affiliates Theme"</a> -->
                </p>
                <div class="clearfix"></div>
            </div>

        </div>

    </footer>
    <!-- End Footer
    ================================================== -->