        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsWow">
            
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">                
                <a class="nav-link" href="{{ site.baseurl }}/">Anasayfa</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hizmetlerimiz</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ site.baseurl }}/digitallesme-ve-bilgi-yonetimi-danismanligi">Dijitalleşme ve Bilgi Yönetimi Danışmanlığı</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/sunucu-yonetimi-ve-bakimi">Sunucu Yönetimi ve Bakımı</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/kurumsal-mail-yonetimi">Kurumsal Mail Yönetimi</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/yedekleme-backup-disaster-plan-yonetimi">Yedekleme/Backup Disaster Plan yönetimi</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/ozel-yazilim-gelistirme">Özel Yazılım Geliştirme</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ürünlerimiz</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ site.baseurl }}/depo-otomasyonu">Depo Otomasyonu</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/finans-tahsilat-takibi">Finans Tahsilat Takibi</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/fabrika-otomasyonu">Fabrika Otomasyonu</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/restoran-otomasyonu">Restoran Otomasyonu</a>
                    </div>
                </li>
                
                <li class="nav-item">                
                    <a class="nav-link" href="{{ site.baseurl }}/hakkimizda">Hakkımızda</a>
                </li> 
                
                 <li class="nav-item">                
                    <a class="nav-link" href="{{ site.baseurl }}/referanslar">Referanslar</a>
                </li> 
                
                <li class="nav-item">                
                    <a class="nav-link highlight" href="{{ site.baseurl }}/iletisim">İletişime Geç</a>
                </li> 
                
            </ul>
            <!-- End Menu -->